body {
    margin: 30px;
    background-color: #fff9fa;
    font-family: "Trebuchet MS", serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Trebuchet MS", serif;
}

.button-container {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half its width and height to truly center it */
    text-align: center; /* Align buttons inside the container */
}

.btn {
    padding: 20px 30px;
    margin: 10px;
    background-color: rgb(72, 70, 70);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgb(63, 60, 60);
}

#error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%; /* Position it vertically at the center */
    left: 50%; /* Position it horizontally at the center */
    transform: translate(-50%, -50%); /* Offset by half its own width and height to truly center it */
    z-index: 1000;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}