<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>DronePizza</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<h1>Welcome to DronePizza</h1>

<div class="button-container">
    <button class="btn" id="all-deliveries-btn">All Deliveries</button>
    <button class="btn" id="all-drones-btn">All Drones</button>
    <button class="btn" id="undelivered-deliveries-btn">Undelivered Deliveries</button>
    <button class="btn" id="pizza-list-btn">Pizza List</button>
    <button class="btn" id="enabled-drones-btn">Enabled Drones</button>

</div>

<!-- Error Modal -->
<div id="error-modal" style="display:none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p id="error-message"></p>
    </div>
</div>

</body>
</html>

<script>
    // Button Click Event Handlers
    $("#all-deliveries-btn").click(function() {
        window.location.href = "/upcoming";
    });

    $("#all-drones-btn").click(function() {
        window.location.href = "/drones";
    });

    $("#undelivered-deliveries-btn").click(function() {
        window.location.href = "/deliveries";
    });

    $("#pizza-list-btn").click(function() {
        window.location.href = "/upcoming";
    });

    $("#enabled-drones-btn").click(function() {
        window.location.href = "/upcoming";
    });

    // Error Modal close button functionality
    document.querySelector(".close-btn").onclick = function() {
        document.getElementById("error-modal").style.display = "none";
    };
</script>

